@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D8DFE6;
  --background-nav: #17192D;
  --foreground: #171717;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
